@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* elements */


* {
    box-sizing: border-box;
    margin: 5px 5px;
    padding: 0;
    background-color: #F6D3E7;
    zoom: 95%;
    scroll-behavior: smooth;
}

marquee {
  width: 70%;
}

p {
  font-family: "Monsterrat", sans-serif;
  color: white;
  font-size: 20px !important;
}
h1{
  font-family: "Monsterrat", sans-serif;
  color: white;
  font-size: 30px;
}
li, a, button {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  padding: 20px 30px !important;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: #FB92CC;
  transition: all .3s ease 0s;
}

header button:hover {
  color: #FB92CC;
  background-color: #F6D3E7;
  border: 1px solid #FB92CC;
}

/* classes */


.logo {
  cursor: pointer;
  margin-right: 150px;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a{
  transition: all .3s ease 0s;
  font-style: bold;
  color: #FB92CC;
  font-size: 24px;
}

.nav-links li a:hover{
  color: #FFFFFF;
}

.sub-nav-links{
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.sub-nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.sub-nav-links li a{
  transition: all .3s ease 0s;
}

.sub-nav-links li a:hover{
  color: #1CA3EC;
  background-color: #F6D3E7;
  border:  1px solid #1CA3EC;
}

.main-images{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  margin-left: 150px;

}

.book-button {
  padding: 20px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: #1CA3EC;
  transition: all .3s ease 0s;

}

.info-boxes {
  margin-bottom: 50px;
  padding: 10px;
  width: 1200px;
  text-align: left;
  display: inline-flex;
  justify-content: center;

}

.info-boxes p {
  color: black !important;
}


/* IDs */


#title{
  padding-right: 100px;
}

#title-bar {
  width: 10%;
  background-color: black;
  height: 3px;
  position: absolute;
  border: none;
}

#covid-text {
  font-size: 20px;
  margin: 100px 0px;
  padding: 30px;
  border: 2px solid black;
  width: 1200px;
}

@keyframes mymove{
  0% {top: 0px;}
  50% {top: 10px}
  100% {top: 0px}
}

#arrow img{
  position: relative;
  animation: mymove 1.5s infinite;
}

#arrow img:hover{
  transition: all .3s ease-in-out 0s;
  transform: scale(1.2, 1.2);
}
